body {
	background-color: black;
}

.header{
	color: yellow;
	text-align: center;
	font-family: sans-serif;
}

.paragraph{
	color: yellow;
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
}

.album_cover{
	border: 5px solid yellow;
	width: 300px;
	height: 300px;
	position: absolute;
}
